<h1>{{ name() }}</h1> <!-- Signal -->

<dl>
  <td>Nombre:</td>
  <dd>{{ name() }}</dd> <!-- Signal -->

  <td>Edad:</td>
  <dd>{{ age() }}</dd> <!-- Signal -->

  <td>Método:</td>
  <dd>{{ heroDescription() }}</dd> <!-- Función: concatenar nombre + edad -->

  <td>Capitalizado:</td>
  <!-- ! Intentar  -->
  <!-- <dd> {{ 'Mostrar nombre TODO EN MAYÚSCULAS' }} </dd> -->
  <!-- <dd>{{ name().toUpperCase() }}</dd> --> <!-- Mi intento - OK -->
  <!-- <dd>{{ capitalizedName() }}</dd> -->
  <dd>{{ name() | uppercase }}</dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<!-- <button class="btn btn-primary">Cambiar edad</button> -->
<button (click)="changeAge()" class="btn btn-primary">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>
